@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .motion-background {
    background-image: linear-gradient(
            to right,
            theme('colors.slate.300'),
            theme('colors.violet.200'),
            theme('colors.blue.200'),
            theme('colors.slate.300'),
            theme('colors.violet.200'),
            theme('colors.blue.200'),
            theme('colors.slate.300')
    );
    background-size: 5000% 100%; /* Reduced for smoother, visible animation */
    animation: loopGradient 60s linear infinite; /* Adjusted timing for better effect */
  }

  .dark .motion-background {
    background-image: linear-gradient(
            to right,
            theme('colors.slate.950'),
            theme('colors.violet.950'),
            theme('colors.blue.950'),
            theme('colors.slate.950'),
            theme('colors.violet.950'),
            theme('colors.blue.950'),
            theme('colors.slate.950')
    );
    background-size: 5000% 100%; /* Consistent with light mode */
    animation: loopGradient 60s linear infinite;
  }

  @keyframes loopGradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}