@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .motion-background {
    background-image: linear-gradient(
            to right,
            theme('colors.slate.300'),
            theme('colors.violet.200'),
            theme('colors.blue.200'),
            theme('colors.slate.300'),
            theme('colors.violet.200'),
            theme('colors.blue.200'),
            theme('colors.slate.300')
    );
    background-size: 5000% 100%; /* Reduced for smoother, visible animation */
    animation: loopGradient 60s linear infinite; /* Adjusted timing for better effect */
  }

  .dark .motion-background {
    background-image: linear-gradient(
            to right,
            theme('colors.slate.950'),
            theme('colors.violet.950'),
            theme('colors.blue.950'),
            theme('colors.slate.950'),
            theme('colors.violet.950'),
            theme('colors.blue.950'),
            theme('colors.slate.950')
    );
    background-size: 5000% 100%; /* Consistent with light mode */
    animation: loopGradient 60s linear infinite;
  }

  @keyframes loopGradient {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
}


.mdx-content {
    @apply max-w-none text-foreground;
}

.mdx-content h1 {
    @apply text-3xl font-bold mt-8 mb-4;
}

.mdx-content h2 {
    @apply text-2xl font-semibold mt-6 mb-3;
}

.mdx-content p {
    @apply text-base mb-4;
}

.mdx-content code {
    @apply text-sm px-1 py-0.5 rounded font-mono;
}

.mdx-content pre {
    @apply p-4 rounded-lg overflow-x-auto mb-6;
}

.mdx-content ul {
    @apply list-disc pl-6 mb-4;
}

.mdx-content ol {
    @apply list-decimal pl-6 mb-4;
}

.mdx-content li {
    @apply mb-2;
}

.mdx-content blockquote {
    @apply border-l-4 border-gray-200 pl-4 italic mb-4;
}

.mdx-content em {
    @apply italic;
}

.mdx-content hr {
    @apply my-6 border-gray-200;
}